[Unit]
Description=HashBurst Replica Agent v2.1.4
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/hashburst/replica-agent.env
ExecStart=/usr/bin/python3 /opt/hashburst/replication/hb_replica_agent_v214.py
Restart=on-failure
RestartSec=10
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
