HB_REPL_CONTROLLER=http://CONTROLLER_HOST:8095
HB_REPL_NODE_ID=REPLACE_WITH_REGISTRY_NODE_ID_OR_NAME
HB_REPL_NODE_TOKEN=REPLACE_WITH_NODE_SECRET
HB_IPFS_PRIVATE_API=http://127.0.0.1:5011
HB_REPL_AGENT_POLL_SEC=30
HB_REPL_HTTP_TIMEOUT=10
HB_REPL_ALLOW_UNPIN=0
